@import '../../sass/_mediaqueries';

$overlayColor: #333;
$modalMargin: 16px;
$modalMarginViewportUnit: 5vmin;


:host {
    display: none;
}

:host([core]) {
    align-items: center;
    background: $overlayColor;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    min-width: 320px;
    opacity: 0;
    overflow: auto;
    perspective: 1300;
    pointer-events: none;
    position: fixed;
    right: 0;
    transform: translate3d(0,0,0);
    transition:
        opacity .3s 0,
        visibility 0 .3s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    top: 0;
    visibility: hidden;
    will-change: opacity;
    z-index: 100;
}

:host([core][shown]){
    pointer-events: all;
    opacity: 1;
    transition:
        opacity .3s 0,
        visibility 0 0;
    visibility: visible;
}

:host([core][type="takeover"]){
    background: #fff;
}

:host([core][pinned="top"]){
    align-items: flex-start;
}

:host([core][pinned="left"]){
    justify-content: flex-start;
}

:host([core][pinned="bottom"]){
    align-items: flex-end;
}

:host([core][pinned="right"]){
    justify-content: flex-end;
}

:host([content]) {
    background: #fff;
    display: block;
    max-width: 720px;
    overflow: auto;
    opacity: 0;
    padding: $modalMargin;
    padding: $modalMarginViewportUnit;
    transform: translate3d(0,0,0);
    transition:
        transform .3s,
        opacity .3s 0,
        visibility 0 .3s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    visibility: hidden;
    will-change: transform, opacity;
}

:host([content][shown]) {
    opacity: 1;
    transform: translate3d(0,0,0) !important;
    transition:
        transform .3s .16s,
        opacity .3s .16s;
    visibility: visible;
}


// TYPES
// takeover
:host([content][type="takeover"]) {
    transform: scale(.85) ;
}

:host([content][type="takeover"][shown]) & {
    transform: scale(1);
}

// drop
:host([content][type="drop"]){
    transform-style: preserve-3d;
    transform: translate3d(0,0,300px);
}

:host([content][type="drop"][position="top"]) {
    transform: translate3d(0,-30%,300px);
}

:host([content][type="drop"][position="left"]) {
    transform: translate3d(-30%,0,300px);
}

:host([content][type="drop"][position="bottom"]) {
    transform: translate3d(0,30%,300px);
}

:host([content][type="drop"][position="right"]) {
    transform: translate3d(30%,0,300px);
}


// flip
:host([content][type="flip"]){
    // defaults to top
    transform: rotateX(-70deg) translate3d(0,0,0);
}
:host([content][type="flip"][position="left"]){
    transform: rotateY(70deg) translate3d(0,0,0);
}

:host([content][type="flip"][position="bottom"]){
    transform: rotateX(70deg) translate3d(0,0,0);
}

:host([content][type="flip"][position="right"]){
    transform: rotateY(-70deg) translate3d(0,0,0);
}

// lift
:host([content][type="lift"]) {
    transform: translate3d(0,0,-300px);
}

:host([content][type="lift"][position="top"]) {
    transform: translate3d(0,-30%,-300px);
}

:host([content][type="lift"][position="left"]) {
    transform: translate3d(-30%,0,-300px);
}

:host([content][type="lift"][position="bottom"]) {
    transform: translate3d(0,30%,-300px);
}

:host([content][type="lift"][position="right"]) {
    transform: translate3d(30%,0,-300px);
}

// slide
:host([content][type="slide"]) {
    // defaults to top
    transform: translate3d(0,-20%,0);
}
//slide position
:host([content][type="slide"][position="left"]){
    transform: translate3d(-20%,0,0);
}

:host([content][type="slide"][position="bottom"]){
    transform: translate3d(0,20%,0);
}

:host([content][type="slide"][position="right"]){
    transform: translate3d(20%,0,0);
}

//slide pinned
:host([content][type="slide"][pinned="top"]){
    transform: translate3d(0,-100%,0);
}

:host([content][type="slide"][pinned="left"]){
    transform: translate3d(-100%,0,0);
}

:host([content][type="slide"][pinned="bottom"]){
    transform: translate3d(0,100%,0);
}

:host([content][type="slide"][pinned="right"]){
    transform: translate3d(100%,0,0);
}

// swing
:host([content][type="swing"]){
    transform-origin: 50% 0%;
    transform: rotateX(-60deg) translate3d(0,0,0);
}

// swing position
:host([content][type="swing"][position="left"]){
    transform-origin: 0% 0%;
    transform: rotateY(60deg) translate3d(0,0,0);
}

:host([content][type="swing"][position="bottom"]){
    transform-origin: 50% 100%;
    transform: rotateX(60deg) translate3d(0,0,0);
}

:host([content][type="swing"][position="right"]){
    transform-origin: 100% 0%;
    transform: rotateY(-60deg) translate3d(0,0,0);
}
// swing pinned
:host([content][type="swing"][pinned="top"]){
    transform-origin: 0 0;
    transform: rotateX(-90deg) translate3d(0,-20px,0) ;
}

:host([content][type="swing"][pinned="left"]){
    transform-origin: 0 0;
    transform: rotateY(90deg) translate3d(-20px,0,0) ;
}

:host([content][type="swing"][pinned="bottom"]){
    transform-origin: 0 100%;
    transform: rotateX(90deg) translate3d(0,20px,0);
}

:host([content][type="swing"][pinned="right"]){
    transform-origin: 100% 0;
    transform: rotateY(-90deg) translate3d(20px,0,0) ;
}
