@import '../sass/_mediaqueries';

$overlayColor: #333;
$modalMargin: 16px;
$modalMarginViewportUnit: 5vmin;

:host {
  align-items: center;
  background: $overlayColor;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  min-width: 320px;
  opacity: 0;
  overflow: hidden;
  perspective: 1300px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0,0,0);
  transition:
      opacity .3s 0s,
      visibility 0s .3s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  visibility: hidden;
  will-change: opacity;
  z-index: 1000;
}

:host([animate]) {
  opacity: 1;
  pointer-events: all;
  transition:
      opacity .3s 0s,
      visibility 0s 0s;
  visibility: visible;
}

#content {
  background: #fff;
  max-width: 720px;
  overflow: auto;
  opacity: 0;
  padding: $modalMargin;
  padding: $modalMarginViewportUnit;
  transform: translate3d(0, 0, 0);
  transition:
      transform .3s,
      opacity .3s 0s,
      visibility 0s .3s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  visibility: hidden;
  will-change: transform, opacity;
}

:host([animate]) #content {
    opacity: 1;
    transform: translate3d(0,0,0) !important;
    transition:
        transform .3s .16s,
        opacity .3s .16s;
    visibility: visible;
}


:host(:not([type])),
:host([type="takeover"]) {
  background: #fff;
}

// TYPES

// takeover
:host([type="takeover"]) #content {
  transform: scale(.85) ;

  &[animate] {
      transform: scale(1);
  }
}

// drop
:host([type="drop"]) #content {
    transform-style: preserve-3d;
    transform: translate3d(0,0,300px);
}

:host([type="drop"][position="top"]) #content {
    transform: translate3d(0,-30%,300px);
}

:host([type="drop"][position="left"]) #content {
    transform: translate3d(-30%,0,300px);
}

:host([type="drop"][position="bottom"]) #content {
    transform: translate3d(0,30%,300px);
}

:host([type="drop"][position="right"]) #content {
    transform: translate3d(30%,0,300px);
}

// flip
:host([type="flip"]) #content {
    // defaults to top
    transform: rotateX(-70deg) translate3d(0,0,0);
}
:host([type="flip"][position="left"]) #content {
    transform: rotateY(70deg) translate3d(0,0,0);
}

:host([type="flip"][position="bottom"]) #content {
    transform: rotateX(70deg) translate3d(0,0,0);
}

:host([type="flip"][position="right"]) #content {
    transform: rotateY(-70deg) translate3d(0,0,0);
}

// lift
:host([type="lift"]) #content {
    transform: translate3d(0,0,-300px);
}

:host([type="lift"][position="top"]) #content {
    transform: translate3d(0,-30%,-300px);
}

:host([type="lift"][position="left"]) #content {
    transform: translate3d(-30%,0,-300px);
}

:host([type="lift"][position="bottom"]) #content {
    transform: translate3d(0,30%,-300px);
}

:host([type="lift"][position="right"]) #content {
    transform: translate3d(30%,0,-300px);
}

// pinned
:host([pinned="top"]) {
    align-items: flex-start;
}

:host([pinned="left"]) {
    justify-content: flex-start;
}

:host([pinned="bottom"]) {
    align-items: flex-end;
}

:host([pinned="right"]) {
    justify-content: flex-end;
}

// slide
:host([type="slide"]) #content {
    // defaults to top
    transform: translate3d(0,-20%,0);
}

// slide position
:host([type="slide"][position="left"]) #content {
    transform: translate3d(-20%,0,0);
}

:host([type="slide"][position="bottom"]) #content {
    transform: translate3d(0,20%,0);
}

:host([type="slide"][position="right"]) #content {
    transform: translate3d(20%,0,0);
}

//slide pinned
:host([type="slide"][pinned="top"]) #content {
    transform: translate3d(0,-100%,0);
}

:host([type="slide"][pinned="left"]) #content {
    transform: translate3d(-100%,0,0);
}

:host([type="slide"][pinned="bottom"]) #content {
    transform: translate3d(0, 100%, 0);
}

:host([type="slide"][pinned="right"]) #content {
    transform: translate3d(100%,0,0);
}

// swing position
:host([type="swing"]) #content {
    transform-origin: 50% 0%;
    transform: rotateX(-60deg) translate3d(0,0,0);
}

:host([type="swing"][position="left"]) #content {
    transform-origin: 0% 0%;
    transform: rotateY(60deg) translate3d(0,0,0);
}

:host([type="swing"][position="bottom"]) #content {
    transform-origin: 50% 100%;
    transform: rotateX(60deg) translate3d(0,0,0);
}

:host([type="swing"][position="right"]) #content {
    transform-origin: 100% 0%;
    transform: rotateY(-60deg) translate3d(0,0,0);
}

:host([type="swing"][pinned="top"]) #content {
    transform-origin: 0 0;
    transform: rotateX(-90deg) translate3d(0,-20px,0) ;
}

:host([type="swing"][pinned="left"]) #content {
    transform-origin: 0 0;
    transform: rotateY(90deg) translate3d(-20px,0,0) ;
}

:host([type="swing"][pinned="bottom"]) #content {
    transform-origin: 0 100%;
    transform: rotateX(90deg) translate3d(0,20px,0);
}

:host([type="swing"][pinned="right"]) #content {
    transform-origin: 100% 0;
    transform: rotateY(-90deg) translate3d(20px,0,0) ;
}
